{%  extends 'estateapp/base.html' %}
{% load static %}
{% block title %} Home {% endblock %}
{% block body %}

<!-- ======= Property Search Section ======= -->
<div class="click-closed"></div>
<!--/ Form Search Star /-->
<div class="box-collapse">
  <div class="title-box-d">
    <h3 class="title-d">Search Property</h3>
  </div>
  <span class="close-box-collapse right-boxed bi bi-x"></span>
  <div class="box-collapse-wrap form">

    <form method="get">

      {{ filtered_properties.form.as_p }}
      <input type="submit" value="press">

    </form>

      {% for p in filtered_properties.qs %}
        <h2>{{ p.location }}</h2>
      {% endfor %}

  </div>
</div><!-- End Property Search Section -->>

<!-- ======= Header/Navbar ======= -->
<nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
  <div class="container">
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <a class="navbar-brand text-brand" href="{% url 'estateapp:index' %}">Estate<span class="color-b">Agency</span></a>

    <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">
      <ul class="navbar-nav">
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'estateapp:index' %}">View Properties</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="{% url 'estateapp:property' %}">My Property</a>
        </li>


        <li class="nav-item">
          <a class="nav-link " href="{% url 'estateapp:show_all_properties' %}">Search Property</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Hello, {{request.user}} | </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'estateapp:logout' %}">Logout</a>
        </li>
        {% endif %}
      </ul>
    </div>

  </div>
</nav><!-- End Header/Navbar -->

<!-- ======= Intro Section ======= -->
<div class="intro intro-carousel swiper position-relative">

  <div class="swiper-wrapper">
    {% for p in prop_list %}
    <div class="swiper-slide carousel-item-a intro-item bg-image" style="background-image: url({{ p.image.url }})">
      <div class="overlay overlay-a"></div>
      <div class="intro-content display-table">
        <div class="table-cell">
          <div class="container">
            <div class="row">
              <div class="col-lg-8">
                <div class="intro-body">
                  <p class="intro-title-top">Location
                  </p>
                  <h1 class="intro-title mb-4 ">
                    <span class="color-b">{{ p.location }}</span>
                  </h1>
                  <p class="intro-subtitle intro-price">
                    <a href="{% url 'estateapp:property_single' p.id %}"><span class="price-a">rent | KSH. {{ p.amount }}</span></a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="swiper-pagination"></div>
</div><!-- End Intro Section -->

<main id="main">
  {% for message in messages %}
  {{ message }}
  {% endfor %}
<!-- ======= Latest Properties Section ======= -->
      <section class="section-property section-t8">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="title-wrap d-flex justify-content-between">
                <div class="title-box">
                  <h2 class="title-a">Latest Properties</h2>
                </div>
                <div class="title-link">
                  <a href="{% url 'estateapp:property' %}">All Property
                    <span class="bi bi-chevron-right"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div id="property-carousel" class="swiper">
            <div class="swiper-wrapper">
              {% for p in prop_list %}
              <div class="carousel-item-b swiper-slide">
                <div class="card-box-a card-shadow">
                  <div class="img-box-a">
                    <img src="{{ p.image.url }}" alt="" class="img-a img-fluid">
                  </div>
                  <div class="card-overlay">
                    <div class="card-overlay-a-content">
                      <div class="card-header-a">
                        <h2 class="card-title-a">
                          <a href="{% url 'estateapp:property_single' p.id %}">{{ p.location }}
                        </h2>
                      </div>
                      <div class="card-body-a">
                        <div class="price-box d-flex">
                          <span class="price-a">rent | KSH. {{ p.amount }}</span>
                        </div>
                        <a href="{% url 'estateapp:property_single' p.id %}" class="link-a">Click here to view
                          <span class="bi bi-chevron-right"></span>
                        </a>
                      </div>
                      <div class="card-footer-a">
                        <ul class="card-info d-flex justify-content-around">
                          <li>
                            <h4 class="card-info-title">Area</h4>
                            <span>{{ p.area }}m
                              <sup>2</sup>
                            </span>
                          </li>
                          <li>
                            <h4 class="card-info-title">Beds</h4>
                            <span>{{ p.beds }}</span>
                          </li>
                          <li>
                            <h4 class="card-info-title">Baths</h4>
                            <span>{{ p.baths }}</span>
                          </li>
                          <li>
                            <h4 class="card-info-title">Garages</h4>
                            <span>{{ p.garage }}</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!-- End carousel item -->
              {% endfor %}
            </div>
          </div>
          <div class="propery-carousel-pagination carousel-pagination"></div>

        </div>
      </section><!-- End Latest Properties Section -->

      <!-- ======= Agents Section ======= -->
        <section class="section-agents section-t8">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="title-wrap d-flex justify-content-between">
                  <div class="title-box">
                    <h2 class="title-a">Best Agents</h2>
                  </div>
                  <div class="title-link">
                    <a href="agents-grid.html">All Agents
                      <span class="bi bi-chevron-right"></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              {% for a in agt_list %}
              <div class="col-md-4">
                <div class="card-box-d">
                  <div class="card-img-d">
                    <img src="{{ a.image.url }}" alt="" class="img-d img-fluid">
                  </div>
                  <div class="card-overlay card-overlay-hover">
                    <div class="card-header-d">
                      <div class="card-title-d align-self-center">
                        <h3 class="title-d">
                          <a href="agent-single.html" class="link-two">{{ a.name }}
                        </h3>
                      </div>
                    </div>
                    <div class="card-body-d">
                      <p class="content-d color-text-a">
                        {{ a.description }}
                      </p>
                      <div class="info-agents color-a">
                        <p>
                          <strong>Phone: </strong> +254{{ a.phone }}
                        </p>
                        <p>
                          <strong>Email: </strong> {{ a.email }}
                        </p>
                      </div>
                    </div>
                    <div class="card-footer-d">
                      <div class="socials-footer d-flex justify-content-center">
                        <ul class="list-inline">
                          <li class="list-inline-item">
                            <a href="#" class="link-one">
                              <i class="bi bi-facebook" aria-hidden="true"></i>
                            </a>
                          </li>
                          <li class="list-inline-item">
                            <a href="#" class="link-one">
                              <i class="bi bi-twitter" aria-hidden="true"></i>
                            </a>
                          </li>
                          <li class="list-inline-item">
                            <a href="#" class="link-one">
                              <i class="bi bi-instagram" aria-hidden="true"></i>
                            </a>
                          </li>
                          <li class="list-inline-item">
                            <a href="#" class="link-one">
                              <i class="bi bi-linkedin" aria-hidden="true"></i>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
              <div class="col-md-4">
                <div class="card-box-d">
                  <div class="card-img-d">
                    <img src="assets/img/agent-1.jpg" alt="" class="img-d img-fluid">
                  </div>
                  <div class="card-overlay card-overlay-hover">
                    <div class="card-header-d">
                      <div class="card-title-d align-self-center">
                        <h3 class="title-d">
                          <a href="agent-single.html" class="link-two">Stiven Spilver
                            <br> Darw</a>
                        </h3>
                      </div>
                    </div>
                    <div class="card-body-d">
                      <p class="content-d color-text-a">
                        Sed porttitor lectus nibh, Cras ultricies ligula sed magna dictum porta two.
                      </p>
                      <div class="info-agents color-a">
                        <p>
                          <strong>Phone: </strong> +54 356 945234
                        </p>
                        <p>
                          <strong>Email: </strong> agents@example.com
                        </p>
                      </div>
                    </div>
                    <div class="card-footer-d">
                      <div class="socials-footer d-flex justify-content-center">
                        <ul class="list-inline">
                          <li class="list-inline-item">
                            <a href="#" class="link-one">
                              <i class="bi bi-facebook" aria-hidden="true"></i>
                            </a>
                          </li>
                          <li class="list-inline-item">
                            <a href="#" class="link-one">
                              <i class="bi bi-twitter" aria-hidden="true"></i>
                            </a>
                          </li>
                          <li class="list-inline-item">
                            <a href="#" class="link-one">
                              <i class="bi bi-instagram" aria-hidden="true"></i>
                            </a>
                          </li>
                          <li class="list-inline-item">
                            <a href="#" class="link-one">
                              <i class="bi bi-linkedin" aria-hidden="true"></i>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card-box-d">
                  <div class="card-img-d">
                    <img src="assets/img/agent-5.jpg" alt="" class="img-d img-fluid">
                  </div>
                  <div class="card-overlay card-overlay-hover">
                    <div class="card-header-d">
                      <div class="card-title-d align-self-center">
                        <h3 class="title-d">
                          <a href="agent-single.html" class="link-two">Emma Toledo
                            <br> Cascada</a>
                        </h3>
                      </div>
                    </div>
                    <div class="card-body-d">
                      <p class="content-d color-text-a">
                        Sed porttitor lectus nibh, Cras ultricies ligula sed magna dictum porta two.
                      </p>
                      <div class="info-agents color-a">
                        <p>
                          <strong>Phone: </strong> +54 356 945234
                        </p>
                        <p>
                          <strong>Email: </strong> agents@example.com
                        </p>
                      </div>
                    </div>
                    <div class="card-footer-d">
                      <div class="socials-footer d-flex justify-content-center">
                        <ul class="list-inline">
                          <li class="list-inline-item">
                            <a href="#" class="link-one">
                              <i class="bi bi-facebook" aria-hidden="true"></i>
                            </a>
                          </li>
                          <li class="list-inline-item">
                            <a href="#" class="link-one">
                              <i class="bi bi-twitter" aria-hidden="true"></i>
                            </a>
                          </li>
                          <li class="list-inline-item">
                            <a href="#" class="link-one">
                              <i class="bi bi-instagram" aria-hidden="true"></i>
                            </a>
                          </li>
                          <li class="list-inline-item">
                            <a href="#" class="link-one">
                              <i class="bi bi-linkedin" aria-hidden="true"></i>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section><!-- End Agents Section -->
</main><!-- End #main -->
<!-- ======= Footer ======= -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="copyright-footer">
          <p class="copyright color-text-a">
            &copy; Copyright
            <span class="color-a">EstateAgency</span> All Rights Reserved.
          </p>
        </div>
        <div class="credits">
          <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=EstateAgency
        -->
          Powered by <a href="https://technerv.co.ke/">TECHNERV</a>
        </div>
      </div>
    </div>
  </div>
</footer><!-- End  Footer -->

  {% for filter in myFilter %}
    {{ filter.form }}
  {% endfor %}


<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

{% endblock %}
